body {
  background-color: #FFDE75;
}

.navigationtext {
  font-family: Arial, Helvetica, sans-serif;
}

.navigationdisabledtext {
  font-family: Arial, Helvetica, sans-serif;
  color: #CCCCCC;
}

.imagetitle {
  font-family: Arial, Helvetica, sans-serif;
}