td.index_table_cell
{
  width: 11%;
  vertical-align: top;
  padding: 5px;
  border: none;
}

td.index_subcat_table_cell
{
  vertical-align: top;
  padding: 5px;
  border: none;
}

.gallerytitle {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18pt;
}

.thumbnailtitle {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
}

.thumbnail {
  margin-bottom: 0px;
  text-align: center;
}

.thumbnail_title {

  text-align: center;
}

.navigationtext {
  font-family: Arial, Helvetica, sans-serif;
}

.navigationdisabledtext {
  font-family: Arial, Helvetica, sans-serif;
  color: #CCCCCC;
}